<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vue - js</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<div class="nav-bar">
		
	</div>
	<div id="app">
		<div class="product">
			<div class="product-image">
				<img  v-bind:src="imagen">
			</div>
			<div class="product-info">
				<h1>{{titulo}}</h1>
				<ul>
					<li v-for="item in producto">{{item.descripcion}}</li>
				</ul>
				<div v-for="item in lista">
					<p @mouseover="elegir(item.imagen)">{{item.color}}</p>
				</div>
				<div class="cart">
					{{contar}}
				</div>
				<button v-on:click="contar+=1" class="btn btn-primary">Carrito</button>
			</div>
		</div>
		
		
		
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
</html>